.portfolio__body-tools_input {
  width: 100%;
  height: 50px;
  margin: 20px 0 0 0;
}

.custom__input {
  width: 90%;
  height: 100%;
  border-radius: 15px;
  background-color: transparent;

  padding: 5px;
  font-size: 20px;
  color: aliceblue;
}

.custom__btn {
  width: 10%;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: transparent;

  padding: 5px;
  font-size: 20px;
  color: aliceblue;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .custom__btn {
    margin: 10px;
    border-radius: 15px;
    width: 150px;
    background-color: wheat;
    color: #aa67d5;
    font-size: 14px;
    border-radius: 5px;
  }
  .custom__input {
    width: 100%;
    margin: 10px;
    border-radius: 15px;
    background-color: aquamarine;
  }
  .portfolio__body-tools_input {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 680px) {
  .custom__btn {
    width: 17%;
  }

  .custom__input {
    width: 70%;
  }
}
@media screen and (max-width: 1050px) {
  .custom__btn {
    width: 15%;
  }

  .custom__input {
    width: 80%;
  }
}

